:root {
  --font-color: #212121;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/*--------------------header--------------------*/
.navbar__links {
  display: none;
}
.navbar__close {
  display: none;
}
.navbar__close {
  width: 40px;
  height: 40px;
  opacity: 80%;
}

.navbar__links a {
  color: rgb(143, 143, 143);
}

header {
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0px;
}

.navbar {
  padding: 20px 0px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-around;
}

.navbar__logo {
  width: 140px;
  height: 56px;
}

/*--------------------hero--------------------*/

.hero {
  margin-top: 100px;
  width: 100vw;
  height: auto;
}

.navbar__images {
  width: 100vw;
  min-height: auto;
}


/*--------------------main--------------------*/

.main__title {
  padding: 20px;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--font-color);
}

.main__card {
  margin: 20px auto;
  width: 80vw;
  border: 1px solid rgba(121, 121, 121, 0.363);
  padding: 20px;
}
.main__images {
  width: 70vw;
  height: auto;
}
.main__price {
  font-size: 2rem;
}

.main__link {
  text-decoration: none;
  font-size: 20px;
  color: #212121;
  font-weight: 600;
  cursor: pointer;
}
.main__button {
  margin-top: 10px;
  width: 120px;
  height: 32px;
  font-size: 1rem;
  font-weight: lighter;
  background: #3483fa;
  color: white;
  border-radius: 5px;
  border: none;
}

/*--------------------article--------------------*/
.main__title--article {
  text-align: center;
}
.main__paragraph {
  font-size: 2rem;
  color: #3483fa;
  text-align: center;
  font-weight: bold;
}
.main__button--article {
  display: block;
  margin: 30px auto;
  width: 140px;
  border-radius: 2px;
}
.main__video {
  width: 90%;
  height: 200px;
  display: block;
  margin: 30px auto;
  border-radius: 2px;
}
/*--------------------catalogue--------------------*/

.container__catalogue {
  height: auto;
  width: 95vw;
  margin: 0px auto;
  
}
.catalogue__image {
  margin-top: 40px;
  width: 100%;
  height: auto;
}

.main__title--catalogue {
  font-size: 1.5rem;
  position: absolute;
  bottom: 30%;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
/*--------------------footer--------------------*/

.footer {
  height: 1100px;
  text-align: left;
  padding-top: 80px;
  padding-left: 20px;
  background: black;

}
.footer__title {
  margin: 40px 0px;
}
h2 {
  color: white;
  margin: 20px 0px;
}
h2 span {
  color: #3483fa;
}
a.logo {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #cecece;
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

p {
  color: #aaaaaa;
  padding-top: 20px;
  font-weight: 500;
}

.col-md {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 80%;
  height: 220px;
  margin-bottom: 30px;
}

/*--------------------catalogo main--------------------*/
.catalogo__title{
  margin-left: 20px;
}
.main__catalogo{
  margin: 0px auto;
  margin-top: 20px;
  width: 90vw;
  border-radius: 4px;
  background:#f1eeeeec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  
  }
.input__main{
  width: 200px;
  height: 36px;
}
.button__main{
  width: 36px;
  height: 36px;
}

.link__main{
  color: #3483fa;
  padding: 10px;
  padding-top: 20px;
  font-size: 16px;
  
}

.img__main{
  width: 18px;
  height: auto;
}
.catalogo__container{
  margin-top: 360px;
}
.list__catalogo li a{
  color: #3483fa;
  padding-top: 10px;
  font-size: 16px;
}
ul li {
  list-style: none;
}
.list__catalogo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

/*--------------------la nautica--------------------*/
.img__nautica{
  width: 100vw;
  height: auto;
  margin-top: 80px;
}
.lanautica{
  width: 100vw;
}

.footer__servicios{
  margin-top: 100px;
}
.footer__contacto{
  margin-top: 100px;
}
/*--------------------queries--------------------*/
@media (min-width: 768px) {
 
  body{
   width: 100vw;
  }
  .hero {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 0px;
 }
 .navbar__images {
   width: 100%;
   height: auto;
 }
 .hero__links{
   display: flex;
   justify-content: space-evenly;
 
 }
 
 .main{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   width: 80%;
   margin: 0px auto;
 
 }
 .main__card {
   margin: 20px auto;
   width: 40vw;
   padding: 30px;
 }
 .main__images {
   width: 35vw;
   height: auto;
 }

 .footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 500px;
 }
 
 }



@media (min-width: 1024px) {
  body{
    background: #212121;
    width: 100vw;
   }
  .hero {
    margin: 96px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .hero__links{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
  }
  .navbar__images {
    width: 100%;
    height: auto;
    
  }
  
  .main__title {
    text-align: center;
  }

  .footer{
    padding: 140px;
  }
  .navbar__links {
    width: 40%;
    display:flex;
    justify-content: space-evenly;
  } 
  .navbar__links a{
    font-weight:bold;
    color: #0000007e;
  }

  .navbar__hamburguer{
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
  }
  
}


