:root {
    --font-color:#212121;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
/*--------------------header--------------------*/
.navbar__links {
  display: none;
}


header {
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0px 
}

.navbar {
  padding: 20px 0px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-around;
}

.navbar__logo {
  width: 140px;
  height: 56px;
}

/*--------------------hero--------------------*/


.hero{
    margin-top: 100px;
    width: 100vw;
    height: auto;
}

.navbar__images{
    width: 100vw;
    min-height: auto;
    
}

/*--------------------main--------------------*/

.main__title{
  padding: 20px;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--font-color);
}

.main__card{
  margin: 20px auto;
  width: 80vw;
  border: 1px solid rgba(121, 121, 121, 0.363);
  padding: 20px;
  
}

.main__images{
  width: 70vw;
  height: auto;
}
.main__price{
  font-size: 2rem;
}

.main__link{
  text-decoration: none;
  font-size: 20px;
  color: #212121;
  font-weight: 600;
  cursor: pointer;
}
.main__button{
  margin-top: 10px;
  width: 120px;
  height: 32px;
  font-size: 1rem;
  font-weight:lighter;
  background:#3483fa;
  color: white;
  border-radius: 5px;
  border: none;
}

/*--------------------article--------------------*/
.main__title--article{
 text-align: center;
}
.main__paragraph{
  font-size: 2rem;
  color: #3483fa;
  text-align: center;
  font-weight: bold;
}
.main__button--article{
  display: block;
  margin: 30px auto;
  width: 140px;
  border-radius: 2px;
}
.main__video{
  width: 90%;
  height: 200px;
  display: block;
  margin: 30px auto;
  border-radius: 2px;
}
/*--------------------catalogue--------------------*/
.catalogue{
  position: relative;

}
.container__catalogue{
  height: 850px;
}
.catalogue__image{
  margin-top: 40px;
  width: 100vw;
  height: auto;
}

.main__title--catalogue{
  font-size:1.5rem;
  position: absolute;
  bottom: 30%;
  text-align: center;
  color:white;
  letter-spacing: 2px;
}
/*--------------------footer--------------------*/

.footer{
height: 1100px;
text-align: left;
padding-top: 80px;
padding-left: 20px;
background: black;

}
.footer__title{
  margin: 40px 0px;
}
h2{
  color:white;
  margin: 20px 0px;
}
h2 span{
  color:#3483fa
}
a.logo{
  font-size: 1.6rem;
}

a{
  text-decoration: none;
  color: #cecece;
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}


p{
  color:#aaaaaa;
  padding-top: 20px;
  font-weight: 500;
}

.col-md{
  display: flex;
  flex-direction: column;
  align-content:space-around;
  width: 80%;
  height: 220px;
  margin-bottom: 30px;
}


